body{
  font-family: 'Montserrat', sans-serif;
  background: #f5f3ee;
}

h1{
font-family: 'Bebas Neue', cursive;
font-weight: normal;
}

#title{
  border-radius: 5px;
  background: #ced7df;
  text-align: center;
  padding: 40px;
  font-family: 'Work Sans', sans-serif;
  text-transform: capitalize;
  font-size: 24px;
}

#experience ul,#language ul,#education ul{
list-style-type: square;
background: #f5f3ee;
}
/* #skills div{
margin: auto;
width: max-content;
border: none;
background: #f5f3ee;

} */
#skills img {
  height: 100px;
  width: 100px;
  margin: 25px auto;
}
#hobby p{
margin: auto;
width: max-content;

}
#hobby{
padding:20px;
background: #f5f3ee;
}
#hobby img {
  height: 100px;
  width: 100px;
  margin: 25px auto;

}
#fileProgress::-moz-progress-bar{
background: #2E294E;
}

/* #container {
display: flex
} */
#info, #info2{
  text-align: left;
  /* margin: 20px 30px; */
  width: 100%;
  background: #f5f3ee;
}
#info,#info2 div{
  /* border: 1px solid #b4c5b4;
  border-radius: 5px;
  /* padding: 10px; */
 /*  margin: 5px; */ 
  background: #f5f3ee;
}
/* 
.copy{
bottom: 100%;
text-align: center;
color: black;
}


.footersocial {
width: 100%;
position:sticky;
text-align: center;
bottom: 0;
display: flex;
flex-direction: column;
align-items: center;
background: #f5f3ee;
}

.social {
float: left;
color: #42433E;
margin-bottom: 0;
}

.social img {
padding-top: 40px ;
padding-right: 15px;
max-height: 40px;
transition: 0.8s;
}

.social a img:hover {
padding-top: 20px;
padding-bottom: 20px;
transition: 0.5s;
}
 */

/* barre de navigation*/

.items{
color: white;
font-weight: bold;
font-family: 'Bebas Neue', cursive;
font-size: 19px;	
}

/* navBar */
.nav-item,a {
display: inline-block;
margin: 0px 5px 0px 6px;
color: #222;
font-size: 22px;
font-family: 'Bebas Neue', sans-serif;
transition: .4s;
text-decoration: none;
color: black;
}

#navbarSupportedContent{
display:inline-block;
text-align: center;
} 
.row,ul{
margin: 0 auto;
}

/*FOOTER*/

footer{
position: absolute;
bottom: 0;
display: contents;
}
.copy{
text-align: center;
color: black;
}

#footersocial {
width: 100%;
position:relative;
text-align: center;
bottom: 0;
color: #42433E;
margin-bottom: 1em;
background: #f5f3ee;
}


.social img {
padding-right: 15px;
transition: 0.8s;
}

.social a img:hover {
padding-top: 20px;
padding-bottom: 20px;
transition: 0.5s;
} 



/*le button traducteur*/
.btn {
flex: 0 0 auto;
display: block;
margin: auto ;
font-family: 'Bebas Neue', cursive;
font-size: 20px;
font-weight: lighter;
color: #ffffff;
padding: 18px 43px;
background: #39364e57;
outline: none;
border: none;
cursor: pointer;
border-radius: 15px;
position: relative;
box-shadow: 0 6px #ced7df;
/*bottom: 30px;*/
}
.btn a{
text-decoration: none;
color:#ffffff;
background: #2E294E;
}
.btn:hover{
background: #2E294E;
box-shadow: 0 4px #ced7df;
top: 2px;
}
.btn :active{
box-shadow: 0 0 #ced6df;
top: 6px;
}


/*partie projet*/
#bigContainer{
/* display: flex; */
text-align: left;
/* margin: 20px 30px; */
width: auto;
}
#bigContainer div{
/* border: 1px solid #b4c5b4;
border-radius: 5px; */
padding: 10px;
margin: 5px;
}
#titreProjet{
  background: #2E294E;
  border-radius: 5px;
  background: #ced7df;
  text-align: center;
  padding: 40px;
  font-family: 'Work Sans', sans-serif;
  text-transform: capitalize;
  font-size: 24px;
}
#projet1 p, #projet2 p{
font-family: 'Montserrat', sans-serif;
font-size: 20px;
}
#projet1 div,#projet2 div{
margin: auto;
width: max-content;
border: none;
}
#projet1 img, #projet2 img {
  height: 50px;
  width: auto;
  margin: 25px auto;
}
/*  */